* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;

  --hue: 195;
  /*variável para mudar a cor do site de uma vez*/

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-light_white: hsla(0, 0%, 100%, 0.20);
  --color-base-azul: hsl(195, 46%, 40%);
  --color-base-azul_claro: hsl(196, 100%, 98%);

}

body {
  font-size: 1.6rem;
  display: grid;
  /* border: 1px solid rgb(0, 0, 0); */
  height: 100%;

  margin: 0 2rem;
  grid-template-areas:
    'H H H'
    'I I I'
    'M M A'
    'M M A '
    'F F F';
  gap: .1rem;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
  object-fit: cover;
}

.banner {
  grid-area: I;
  width: 100%;
  height: 21.9rem;
  object-fit: cover;
}

header label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

header input {
  height: 4.1rem;
  width: 50%;

  border: 0;
  border-radius: .4rem;
  background: var(--color-base-light_white);
  color: var(--color-base-white);
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1.2rem 1.4rem;


}

header input::placeholder {
  color: var(--color-base-white);
}

header input:focus {
  border: 1px solid var(--color-base-white);
  outline: none;
}

header {
  grid-area: H;
  height: 7.2rem;
  background: var(--color-base-azul);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

}

main h1 {
  font-size: 2.4rem;
  line-height: 160%;
  font-weight: bold;
}

.botao {
  margin: .8rem 0 3.1rem 0;
}

main {
  grid-area: M;
  font-size: 1.6rem;
  line-height: 160%;
  margin-top: 3.1rem;
  margin-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
}



main p {
  height: 100%;
}

aside {
  grid-area: A;
  height: 100%;
  width: 38.4rem;

  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 3.2rem;

}

footer {
  grid-area: F;
  height: 6.2rem;
  background: var(--color-base-azul);
  color: var(--color-base-white);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  padding-top: 2.05rem;
}

header,
main,
aside,
footer {
  /* border: 1px solid rgb(255, 0, 0); */

}

.item {
  display: flex;
  gap: 1.6rem;
}

@media screen and (max-width:768px) {
  body {
    grid-template-areas:
      'H H H'
      'I I I'
      'M M M'
      'M M M'
      'A A A'
      'F F F';
  }

  aside {
    width: 100%;
  }
  main img {
    width: 9.2rem;
  }

}

@media screen and (min-width:769px) {
  body {
    grid-template-areas:
      'H H H'
      'I I A'
      'M M A'
      'M M A'
      'F F F';
    gap: 2rem;
  }

  body img {
    border-radius: 0.5rem;
  }

  main img {
    width: 9.2rem;
    align-self: self-end;
  }


}